<div class="space-medium">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-wrapper history-wrapper">
				<div class="section-title text-center history-title">
					<h2 class="section-heading">Our history</h2>
				</div>
				<div class="hidden-xs col-md-2 "></div>
				<div class="content-wrapper history col-xs-12 col-md-8">
					<p class="content history-content">{{ site.data.global.about.history }}</p>
				</div>
				<div class="hidden-xs col-md-2 "></div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-wrapper mission-wrapper">
				<div class="section-title text-center mission-title">
					<h2 class="section-heading">Our mission</h2>
				</div>
				<div class="hidden-xs col-md-2 "></div>
				<div class="content-wrapper mission col-xs-12 col-md-8">
					<p class="content mission-content">{{ site.data.global.about.mission }}</p>
				</div>
				<div class="hidden-xs col-md-2 "></div>
			</div>
		</div>
	</div>
</div>