<div class="container-fluid">
  <div class="row maps-wrapper">
	<div class="col-lg-2 col-md-1 hidden-sm-down"></div>
	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 map" id="googleMap"></div>
  </div>
</div>

<script>
    function initMap() {
        var myLatLng = {
            lat: 29.732877,
            lng: -95.449302
        };

        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 15,
            center: myLatLng,
            scrollwheel: false,

        });
        var image = 'images/map-pin.png';
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image,
            title: "We're here!"
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuy3CHg_8Jh5W2rki6IrT2RtBy5_5TXlU&callback=initMap" async defer></script>