<div class="hero-section">
	<div class=" ">
		<!-- navigation -->
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
					<div class="hero-caption">
						<h1 class="hero-title">Want an authentic Chinese dining experience?</h1>
						<p class="hero-text">Let us be your Chinese ambassadors and bring the experience to your door!</p>
						<a href="{{ site.data.global.pages.Order }}" class="btn btn-default">Order Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>